<h1 class="current-category"><%= params[:category] %></h1>

<% if @games.blank? %>
<div class="row blank">
  <h3>There are no games meeting this criteria.</h3>
</div>
<% else %>
<div class="container-fluid">
  <% @games.each do |game| %>
    <div class="col-md-3 col-sm-6">
      <a href="/games/ <%= game.id %>">
        <%= image_tag game.game_img.url(:game_index), class: "game" %>
      </a>
    </div>
  <% end %>
 </div>
<% end %>


